/*isp5.css
для заголовка задать размер шрифта кратный 10px и горизонтальное выравнивание текста (свойство text-align);
для блока .highlight задать внутренний отступ кратный 5px, белый цвет текста и фоновый цвет #3f51b5, 
а также поменять насыщенность шрифта;
в списке правил жизни применить свойства font-style, text-transform и text-decoration 
с нужными значениями для соответствующих кусочков текста с классами italic, uppercase, underline.
 */
body {
  width: 380px;
  margin: 0;
  padding: 0 10px;
  font-size: 16px;
  line-height: 20px;

  font-family: "Arial", sans-serif;
}

h1 {
  line-height: normal;
  font-size: 20px;
  text-align: center;
}
.highlight {
  padding: 10px;
  color: #ffffff;
  background-color: #3f51b5;
  font-weight: 700;
}
  
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
